@use '../variables' as *;

$content-wide-width: $content-width + ($content-container-wide-bleed * 2);

// Container

.container {
  position: relative;
  margin: auto;
  max-width: var(--fs-content-width);
  width: calc(100% - var(--fs-content-padding-l) - var(--fs-content-padding-l));

  @media (max-width: $breakpoint-m) {
    width: calc(100% - var(--fs-content-padding-m) - var(--fs-content-padding-m));
  }

  @media (max-width: $breakpoint-s) {
    width: calc(100% - var(--fs-content-padding-s) - var(--fs-content-padding-s));
  }

  @media (max-width: $breakpoint-xs) {
    width: calc(100% - var(--fs-content-padding-xs) - var(--fs-content-padding-xs));
  }
}

// Expand from `.container` by the wide bleed. Reset when wide + 24 + 24 no longer fits.
.container-wide {
  margin-left: calc(var(--fs-container-wide-bleed) * -1);
  margin-right: calc(var(--fs-container-wide-bleed) * -1);
  width: calc(100% + var(--fs-container-wide-bleed) + var(--fs-container-wide-bleed));

  &.has-background {
    @media (min-width: calc($content-wide-width + 24px + 24px + 1px)) {
      padding-left: var(--fs-container-wide-bleed);
      padding-right: var(--fs-container-wide-bleed);
    }
  }

  @media (max-width: calc($content-wide-width + 24px + 24px)) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    &.has-background {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.alignwide {
  margin-left: calc(var(--fs-alignwide-bleed) * -1);
  margin-right: calc(var(--fs-alignwide-bleed) * -1);

  &.has-background {
    padding-left: var(--fs-alignwide-bleed);
    padding-right: var(--fs-alignwide-bleed);
  }

  @media (max-width: calc(#{$content-width} + #{$content-alignwide-bleed} + #{$content-alignwide-bleed} + 24px + 24px)) {
    margin-left: 0;
    margin-right: 0;

    &.has-background {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.alignfull {
  margin-left: calc((100vw - var(--fs-content-width)) * -0.5);
  margin-right: calc((100vw - var(--fs-content-width)) * -0.5);

  @media (max-width: calc(#{$content-width} + #{$content-padding-l} + #{$content-padding-l})) {
    margin-left: calc(var(--fs-content-padding-l) * -1);
    margin-right: calc(var(--fs-content-padding-l) * -1);
  }

  @media (max-width: $breakpoint-m) {
    margin-left: calc(var(--fs-content-padding-m) * -1);
    margin-right: calc(var(--fs-content-padding-m) * -1);
  }

  @media (max-width: $breakpoint-m) {
    margin-left: calc(var(--fs-content-padding-m) * -1);
    margin-right: calc(var(--fs-content-padding-m) * -1);
  }

  @media (max-width: $breakpoint-s) {
    margin-left: calc(var(--fs-content-padding-s) * -1);
    margin-right: calc(var(--fs-content-padding-s) * -1);
  }

  @media (max-width: $breakpoint-xs) {
    margin-left: calc(var(--fs-content-padding-xs) * -1);
    margin-right: calc(var(--fs-content-padding-xs) * -1);
  }

  &.has-background {
    &.has-background {
      padding-left: calc((100vw - var(--fs-content-width)) * 0.5);
      padding-right: calc((100vw - var(--fs-content-width)) * 0.5);

      @media (max-width: calc(#{$content-width} + #{$content-padding-l} + #{$content-padding-l})) {
        padding-left: calc(var(--fs-content-padding-l));
        padding-right: calc(var(--fs-content-padding-l));
      }

      @media (max-width: $breakpoint-m) {
        padding-left: calc(var(--fs-content-padding-m));
        padding-right: calc(var(--fs-content-padding-m));
      }

      @media (max-width: $breakpoint-s) {
        padding-left: calc(var(--fs-content-padding-s));
        padding-right: calc(var(--fs-content-padding-s));
      }

      @media (max-width: $breakpoint-xs) {
        padding-left: calc(var(--fs-content-padding-xs));
        padding-right: calc(var(--fs-content-padding-xs));
      }
    }
  }
}
