@use '../variables' as *;
@use '../mixins' as *;

// Footer

.footer__wrapper {
  padding: 24px 0;
  background: var(--fs-color-gray-200);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--fs-font-size-s);
  line-height: var(--fs-line-height-s);

  @media (max-width: $breakpoint-s) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.footer__text {
  b {
    font-weight: 600;
  }
}

// Footer menu

.footer-menu__wrapper {
  margin-left: auto;

  @media (max-width: $breakpoint-s) {
    margin-left: 0;
    margin-top: 12px;
  }
}

.footer-menu__container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  @media (max-width: $breakpoint-s) {
    flex-direction: column;
    justify-content: center;
  }

  > li {
    padding: 0;
    margin: 0 0 0 16px;

    &:first-child {
      margin-left: 0;
    }

    @media (max-width: $breakpoint-s) {
      margin: 0;
    }

    > a {
      color: var(--fs-color-gray-500);

      &:hover {
        color: var(--fs-link-color-hover);
      }
    }
  }
}
