@use '../variables' as *;
@use '../icons/icons' as *;

@mixin form {
  // Buttons

  .buttons,
  .wp-block-buttons {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    line-height: 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-s) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .-button-trigger {
    cursor: pointer;
  }

  .button,
  .wp-block-button__link,
  .wp-block-button.is-style-outline .wp-block-button__link {
    position: relative;
    display: inline-block;
    border: 0;
    color: #fff;
    font-size: var(--fs-font-size-m);
    line-height: 24px;
    border-radius: 21px;
    padding: 7px 20px;
    overflow: hidden;
    text-align: center;
    background: var(--fs-color-primary);
    border: 2px solid var(--fs-color-primary);
    font-weight: 600;
    height: auto;
    text-decoration: none !important;
    cursor: pointer;

    @media (min-resolution: 1.9dppx) {
      border-width: 1.5px;
      line-height: 25px;
    }

    body.-transition-init & {
      transition: transition('background-color', 'border-color', 'color');
    }

    &.-outline,
    .wp-block-button.is-style-outline & {
      background: transparent;
      color: var(--fs-color-primary);
    }

    &.-small,
    &.has-s-font-size {
      padding: 3px 14px;
      font-size: var(--fs-font-size-s) !important;
      border-radius: 17px;
    }

    &.-large,
    &.has-l-font-size {
      padding: 9px 22px;
      font-size: var(--fs-font-size-m) !important;
      border-radius: 23px;
    }

    &.-exra-large,
    &.has-xl-font-size {
      padding: 11px 26px;
      font-size: var(--fs-font-size-l) !important;
      border-radius: 25px;
    }

    &:hover,
    .-button-trigger:hover & {
      text-decoration: none !important;
      background: var(--fs-color-primary-dark);
      border-color: var(--fs-color-primary-dark);
      color: #fff;
    }

    &[disabled] {
      cursor: default !important;
      color: #ccc !important;
      background: #eee !important;
      box-shadow: none !important;
    }
  }

  .button.-has-icon,
  .wp-block-button.-has-icon .wp-block-button__link {
    text-align: left;

    &::before {
      @include fs-icon;
      content: '';
      line-height: 0;
      position: absolute;
      top: 7px;
      width: 24px;
      height: 24px;
    }

    &.-small,
    &.has-s-font-size {
      &::before {
        top: 6px;
        width: 18px;
        height: 18px;
      }
    }

    &.-large,
    &.has-l-font-size {
      &::before {
        top: 9px;
        width: 24px;
        height: 24px;
      }
    }

    &.-extra-large,
    &.has-xl-font-size {
      &::before {
        top: 9px;
        width: 28px;
        height: 28px;
      }
    }
  }

  .button.-has-icon:not(.-icon-right),
  .wp-block-button.-has-icon:not(.-icon-right) .wp-block-button__link {
    padding-left: 42px;

    &::before {
      left: 12px;
    }

    &.-small,
    &.has-s-font-size {
      padding-left: 32px;

      &::before {
        left: 9px;
      }
    }

    &.-large,
    &.has-l-font-size {
      padding-left: 44px;

      &::before {
        left: 14px;
      }
    }

    &.-extra-large,
    &.has-xl-font-size {
      padding-left: 50px;

      &::before {
        left: 16px;
      }
    }
  }

  .button.-has-icon.-icon-right,
  .wp-block-button.-has-icon.-icon-right .wp-block-button__link {
    padding-right: 42px;

    &::before {
      right: 12px;
    }

    &.-small,
    &.has-s-font-size {
      padding-right: 32px;

      &::before {
        right: 9px;
      }
    }

    &.-large,
    &.has-l-font-size {
      padding-right: 44px;

      &::before {
        right: 14px;
      }
    }

    &.-extra-large,
    &.has-xl-font-size {
      padding-right: 50px;

      &::before {
        right: 16px;
      }
    }
  }

  // Select fields
  
  .select-container {
    position: relative;
    display: block;

    select {
      width: 100%;
      padding: 8px 20px;
      padding-right: calc(7px + 24px + 8px);
      font: inherit;
      font-size: var(--fs-font-size-m);
      line-height: 24px;
      color: inherit;
      background-color: #fff;
      border: 1px solid var(--fs-color-gray-300, #ccc);
      border-radius: 32px;
      appearance: none;

      @media (max-width: $breakpoint-s) {
        padding: 6px 16px;
        padding-right: calc(7px + 24px + 4px);
      }
    }

    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: no-repeat center center / contain;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjMDAwIj4KICAgIDxwYXRoIGQ9Ik00NjYuNTQtMzc1LjIzcS02LjIzLTIuMzEtMTEuODUtNy45MkwyNzQuOTItNTYyLjkycS04LjMtOC4zMS04LjUtMjAuODktLjE5LTEyLjU3IDguNS0yMS4yNyA4LjctOC42OSAyMS4wOC04LjY5IDEyLjM4IDAgMjEuMDggOC42OUw0ODAtNDQyLjE1bDE2Mi45Mi0xNjIuOTNxOC4zMS04LjMgMjAuODktOC41IDEyLjU3LS4xOSAyMS4yNyA4LjUgOC42OSA4LjcgOC42OSAyMS4wOCAwIDEyLjM4LTguNjkgMjEuMDhMNTA1LjMxLTM4My4xNXEtNS42MiA1LjYxLTExLjg1IDcuOTItNi4yMyAyLjMxLTEzLjQ2IDIuMzF0LTEzLjQ2LTIuMzFaIj48L3BhdGg+Cjwvc3ZnPg==');
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      pointer-events: none;
      transition: transition('transform');
    }

    &:focus-within {
      &::after {
        transform: translateY(-50%) scaleY(-1);
      }
    }
  }
}

// Inputs

input[type='search'] {
  outline-offset: 1px;
}
