@use '../variables' as *;

// Buttons

@mixin form {
  .buttons,
  .wp-block-buttons {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-s) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .wp-block-button {
    line-height: 0;
  }

  .-button-trigger {
    cursor: pointer;
  }

  .button,
  .wp-block-button__link {
    display: inline-block;
    border: 0;
    color: #fff;
    font-size: var(--fs-font-size-m);
    line-height: 24px;
    border-radius: 32px;
    padding: 8px 20px;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    text-decoration: none !important;
    background: var(--fs-color-primary);
    border: 1px solid var(--fs-color-primary);
    transition: transition('background', 'border-color');
    font-weight: 600;
    height: auto;

    @media (max-width: $breakpoint-s) {
      padding: 6px 16px;
    }

    &.-small {
      padding: 6px 16px;
    }

    &:hover,
    .-button-trigger:hover & {
      text-decoration: none !important;
      background: var(--fs-color-primary-dark);
      border-color: var(--fs-color-primary-dark);
    }

    &[disabled] {
      cursor: default !important;
      color: #ccc !important;
      background: #eee !important;
      box-shadow: none !important;
    }
  }

  // Select fields
  .select-container {
    position: relative;
    display: block;

    select {
      width: 100%;
      padding: 8px 20px;
      padding-right: calc(7px + 24px + 8px);
      font: inherit;
      font-size: var(--fs-font-size-m);
      line-height: 24px;
      color: inherit;
      background-color: #fff;
      border: 1px solid var(--fs-color-gray-300, #ccc);
      border-radius: 32px;
      appearance: none;

      @media (max-width: $breakpoint-s) {
        padding: 6px 16px;
        padding-right: calc(7px + 24px + 4px);
      }
    }

    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: no-repeat center center / contain;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjMDAwIj4KICAgIDxwYXRoIGQ9Ik00NjYuNTQtMzc1LjIzcS02LjIzLTIuMzEtMTEuODUtNy45MkwyNzQuOTItNTYyLjkycS04LjMtOC4zMS04LjUtMjAuODktLjE5LTEyLjU3IDguNS0yMS4yNyA4LjctOC42OSAyMS4wOC04LjY5IDEyLjM4IDAgMjEuMDggOC42OUw0ODAtNDQyLjE1bDE2Mi45Mi0xNjIuOTNxOC4zMS04LjMgMjAuODktOC41IDEyLjU3LS4xOSAyMS4yNyA4LjUgOC42OSA4LjcgOC42OSAyMS4wOCAwIDEyLjM4LTguNjkgMjEuMDhMNTA1LjMxLTM4My4xNXEtNS42MiA1LjYxLTExLjg1IDcuOTItNi4yMyAyLjMxLTEzLjQ2IDIuMzF0LTEzLjQ2LTIuMzFaIj48L3BhdGg+Cjwvc3ZnPg==');
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      pointer-events: none;
      transition: transition('transform');
    }

    &:focus-within {
      &::after {
        transform: translateY(-50%) scaleY(-1);
      }
    }
  }
}

// Inputs

input[type='search'] {
  outline-offset: 1px;
}
