@use '../variables' as *;
@use 'sass:map';

// Content margin mixin

@mixin content-margin($top: null, $bottom: null, $responsive: ()) {
  // Base
  @if $top !=null {
    margin-top: $top;

    &:first-child {
      margin-top: 0;
    }
  }

  @if $bottom !=null {
    margin-bottom: $bottom;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Responsive
  @each $breakpoint, $values in $responsive {
    @media (max-width: $breakpoint) {
      @if map.has-key($values, top) {
        margin-top: map.get($values, top);
      }

      @if map.has-key($values, bottom) {
        margin-bottom: map.get($values, bottom);
      }
    }
  }
}

// Spacer responsive height mixin

@mixin spacer-responsive-height($height, $responsive: ()) {
  height: $height !important;

  @each $breakpoint, $value in $responsive {
    @media (max-width: $breakpoint) {
      height: $value !important;
    }
  }
}

// WordPress blocks mixin

@mixin wordpress-blocks {
  // Groups

  .wp-block-group {
    position: relative;

    &.has-background {
      padding-top: 40px;
      padding-bottom: 40px;

      @media (max-width: $breakpoint-m) {
        padding-top: 28px;
        padding-bottom: 28px;
      }

      @media (max-width: $breakpoint-xs) {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &:not(.alignfull) {
        border-radius: var(--fs-border-radius-m);

        @media (max-width: $breakpoint-xs) {
          border-radius: var(--fs-border-radius-m);
        }
      }

      &:not(.alignfull):not(.alignwide) {
        padding-left: 48px;
        padding-right: 48px;

        @media (max-width: $breakpoint-m) {
          padding-left: 32px;
          padding-right: 32px;
        }

        @media (max-width: $breakpoint-s) {
          padding-left: 24px;
          padding-right: 24px;
          padding-top: 16px;
          padding-bottom: 16px;
        }

        @media (max-width: $breakpoint-xs) {
          padding-left: 16px;
          padding-right: 16px;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
  }

  // Columns

  .wp-block-columns {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    gap: 48px;

    @media (max-width: $breakpoint-l) {
      gap: 32px;
    }

    @media (max-width: $breakpoint-s) {
      gap: 24px;
    }

    &.-column-gap-none {
      gap: 0;
    }

    &.-column-gap-xs {
      gap: 16px;
    }

    &.-column-gap-s {
      gap: 32px;

      @media (max-width: $breakpoint-s) {
        gap: 24px;
      }
    }

    &.-column-gap-l {
      gap: 48px 64px;

      @media (max-width: $breakpoint-l) {
        gap: 48px;
      }

      @media (max-width: $breakpoint-m) {
        gap: 32px;
      }

      @media (max-width: $breakpoint-s) {
        gap: 24px;
      }
    }

    &.-column-gap-xl {
      gap: 48px 96px;

      @media (max-width: $breakpoint-l) {
        gap: 48px 64px;
      }

      @media (max-width: $breakpoint-m) {
        gap: 32px 48px;
      }

      @media (max-width: $breakpoint-s) {
        gap: 24px 32px;
      }
    }

    // Columns: Bild-Text-Layout

    &.-image-text-layout {
      > .wp-block-column:has(.wp-block-image) {
        align-self: flex-start;
      }

      > .wp-block-column:not(:has(.wp-block-image)) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    // Columns: Reverse on mobile

    &.-reverse-order-on-mobile {
      @media (max-width: 782px) {
        flex-direction: column-reverse;
      }
    }
  }

  // Column

  .wp-block-column {
    &.has-background {
      border-radius: var(--fs-border-radius-m);
      padding: 32px;

      @media (max-width: $breakpoint-s) {
        padding: 24px;
      }

      @media (max-width: $breakpoint-xs) {
        padding: 16px;
      }
    }

    &.-center-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  // Images

  figure {
    padding: 0;
  }

  .wp-block-image {
    margin-top: 24px;
    margin-bottom: 24px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-s) {
      margin-top: 16px;
      margin-bottom: 16px;

      &:first-child {
        margin-top: 0;
      }
    }

    &.alignleft {
      margin-left: 0;
      margin-right: auto;
    }

    &.aligncenter {
      margin-left: auto;
      margin-right: auto;
    }

    &.alignright {
      margin-left: auto;
      margin-right: 0;
    }

    a {
      display: block;
    }

    img {
      border-radius: var(--fs-border-radius-m);
    }

    &.is-style-framed {
      img {
        border-radius: var(--fs-border-radius-m);
        border: 1px solid rgba(0, 0, 0, 0.15);

        @media (min-resolution: 1.9dppx) {
          border-width: 1.5px;
        }
      }
    }

    &.is-style-round {
      img {
        border-radius: 50%;
      }
    }

    &.is-style-sharp {
      img {
        border-radius: 0;
      }
    }

    .wp-element-caption {
      margin: 4px 0 0;
      font-size: var(--fs-font-size-s);
      line-height: var(--fs-line-height-s);
      color: var(--fs-color-gray-600);
    }

    &.-no-image-caption {
      .wp-element-caption {
        display: none;
      }
    }
  }

  // Gallery

  .wp-block-gallery {
    figure.wp-block-image {
      figcaption.wp-element-caption {
        padding: 16px 12px 8px;
      }

      figcaption.wp-element-caption,
      &:has(figcaption)::before {
        border-radius: 0 0 var(--fs-border-radius-m) var(--fs-border-radius-m);
      }
    }

    &.-no-image-captions {
      figure.wp-block-image {
        figcaption.wp-element-caption {
          display: none;
        }
      }
    }
  }

  // Content widths

  .-narrow,
  .-narrow-left,
  .-narrow-right {
    max-width: var(--fs-content-width-narrow);
  }

  .-very-narrow,
  .-very-narrow-left,
  .-very-narrow-right {
    max-width: var(--fs-content-width-very-narrow);
  }

  .-extra-narrow,
  .-extra-narrow-left,
  .-extra-narrow-right {
    max-width: var(--fs-content-width-extra-narrow);
  }

  .-narrow,
  .-very-narrow,
  .-extra-narrow {
    margin-left: auto;
    margin-right: auto;
  }

  .-narrow-right,
  .-very-narrow-right,
  .-extra-narrow-right {
    margin-left: auto;
    margin-right: 0;
  }

  // Content margin top and bottom

  .-content-margin-none {
    @include content-margin(0, 0);
  }

  .-content-margin-xs {
    @include content-margin(var(--fs-content-margin-xs), var(--fs-content-margin-xs));
  }

  .-content-margin-s {
    @include content-margin(
      var(--fs-content-margin-s),
      var(--fs-content-margin-s),
      (
        $breakpoint-xs: (
          top: var(--fs-content-margin-xs),
          bottom: var(--fs-content-margin-xs),
        ),
      )
    );
  }

  .-content-margin-m {
    @include content-margin(
      var(--fs-content-margin-m),
      var(--fs-content-margin-m),
      (
        $breakpoint-s: (
          top: var(--fs-content-margin-s),
          bottom: var(--fs-content-margin-s),
        ),
        $breakpoint-xs: (
          top: var(--fs-content-margin-xs),
          bottom: var(--fs-content-margin-xs),
        ),
      )
    );
  }

  .-content-margin-l {
    @include content-margin(
      var(--fs-content-margin-l),
      var(--fs-content-margin-l),
      (
        $breakpoint-m: (
          top: var(--fs-content-margin-m),
          bottom: var(--fs-content-margin-m),
        ),
        $breakpoint-s: (
          top: var(--fs-content-margin-s),
          bottom: var(--fs-content-margin-s),
        ),
      )
    );
  }

  .-content-margin-xl {
    @include content-margin(
      var(--fs-content-margin-xl),
      var(--fs-content-margin-xl),
      (
        $breakpoint-l: (
          top: var(--fs-content-margin-l),
          bottom: var(--fs-content-margin-l),
        ),
        $breakpoint-m: (
          top: var(--fs-content-margin-m),
          bottom: var(--fs-content-margin-m),
        ),
        $breakpoint-s: (
          top: var(--fs-content-margin-s),
          bottom: var(--fs-content-margin-s),
        ),
      )
    );
  }

  // Content margin top

  .-content-margin-top-none {
    @include content-margin(0, null);
  }

  .-content-margin-top-xs {
    @include content-margin(var(--fs-content-margin-xs), null);
  }

  .-content-margin-top-s {
    @include content-margin(
      var(--fs-content-margin-s),
      null,
      (
        $breakpoint-xs: (
          top: var(--fs-content-margin-xs),
        ),
      )
    );
  }

  .-content-margin-top-m {
    @include content-margin(
      var(--fs-content-margin-m),
      null,
      (
        $breakpoint-s: (
          top: var(--fs-content-margin-s),
        ),
        $breakpoint-xs: (
          top: var(--fs-content-margin-xs),
        ),
      )
    );
  }

  .-content-margin-top-l {
    @include content-margin(
      var(--fs-content-margin-l),
      null,
      (
        $breakpoint-m: (
          top: var(--fs-content-margin-m),
        ),
        $breakpoint-s: (
          top: var(--fs-content-margin-s),
        ),
      )
    );
  }

  .-content-margin-top-xl {
    @include content-margin(
      var(--fs-content-margin-xl),
      null,
      (
        $breakpoint-l: (
          top: var(--fs-content-margin-l),
        ),
        $breakpoint-m: (
          top: var(--fs-content-margin-m),
        ),
        $breakpoint-s: (
          top: var(--fs-content-margin-s),
        ),
      )
    );
  }

  // Content margin bottom

  .-content-margin-bottom-none {
    @include content-margin(null, 0);
  }

  .-content-margin-bottom-xs {
    @include content-margin(null, var(--fs-content-margin-xs));
  }

  .-content-margin-bottom-s {
    @include content-margin(
      null,
      var(--fs-content-margin-s),
      (
        $breakpoint-xs: (
          bottom: var(--fs-content-margin-xs),
        ),
      )
    );
  }

  .-content-margin-bottom-m {
    @include content-margin(
      null,
      var(--fs-content-margin-m),
      (
        $breakpoint-s: (
          bottom: var(--fs-content-margin-s),
        ),
        $breakpoint-xs: (
          bottom: var(--fs-content-margin-xs),
        ),
      )
    );
  }

  .-content-margin-bottom-l {
    @include content-margin(
      null,
      var(--fs-content-margin-l),
      (
        $breakpoint-m: (
          bottom: var(--fs-content-margin-m),
        ),
        $breakpoint-s: (
          bottom: var(--fs-content-margin-s),
        ),
      )
    );
  }

  .-content-margin-bottom-xl {
    @include content-margin(
      null,
      var(--fs-content-margin-xl),
      (
        $breakpoint-l: (
          bottom: var(--fs-content-margin-l),
        ),
        $breakpoint-m: (
          bottom: var(--fs-content-margin-m),
        ),
        $breakpoint-s: (
          bottom: var(--fs-content-margin-s),
        ),
      )
    );
  }

  // Spacer responsive height

  .wp-block-spacer {
    &.-spacer-height-xs {
      @include spacer-responsive-height(var(--fs-content-margin-xs));
    }

    &.-spacer-height-s {
      @include spacer-responsive-height(
        var(--fs-content-margin-s),
        (
          $breakpoint-xs: var(--fs-content-margin-xs),
        )
      );
    }

    &.-spacer-height-m {
      @include spacer-responsive-height(
        var(--fs-content-margin-m),
        (
          $breakpoint-s: var(--fs-content-margin-s),
          $breakpoint-xs: var(--fs-content-margin-xs),
        )
      );
    }

    &.-spacer-height-l {
      @include spacer-responsive-height(
        var(--fs-content-margin-l),
        (
          $breakpoint-m: var(--fs-content-margin-m),
          $breakpoint-s: var(--fs-content-margin-s),
        )
      );
    }

    &.-spacer-height-xl {
      @include spacer-responsive-height(
        var(--fs-content-margin-xl),
        (
          $breakpoint-l: var(--fs-content-margin-l),
          $breakpoint-m: var(--fs-content-margin-m),
          $breakpoint-s: var(--fs-content-margin-s),
        )
      );
    }
  }

  // Text-wrap

  .text-wrap-balance {
    text-wrap: balance;
  }

  .text-wrap-pretty {
    text-wrap: pretty;
  }
}
