@use '../../../src/scss/variables' as *;

.map-dsgvo__container {
  margin-top: 24px;
  margin-bottom: 24px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 400px) {
    margin-top: 16px;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.map-dsgvo__title {
  font-weight: 600;
}

.map-dsgvo__link {
  cursor: pointer;
  color: var(--fs-link-color);
  transition: transition('color');

  &:hover {
    color: var(--fs-link-color-hover);
  }
}