@use '../../config' as *;
@use '../wordpress-blocks' as *;

$editor-content-width-outer: $editor-content-width + ($editor-content-width-padding * 2);

.editor-styles-wrapper {
  @include wordpress-blocks();

  // Content widths

  .block-editor-block-list__layout.is-root-container {
    // Inhaltsbreite → Erweitert: same width as WP alignwide
    > .container-wide {
      max-width: var(--wp--style--global--wide-size);
    }

    .-narrow,
    .-narrow-left,
    .-narrow-right {
      max-width: min(var(--bl-content-width-narrow), var(--bl-editor-content-width)) !important;
    }

    .-very-narrow,
    .-very-narrow-left,
    .-very-narrow-right {
      max-width: min(var(--bl-content-width-very-narrow), var(--bl-editor-content-width)) !important;
    }

    .-extra-narrow,
    .-extra-narrow-left,
    .-extra-narrow-right {
      max-width: min(var(--bl-content-width-extra-narrow), var(--bl-editor-content-width)) !important;
    }

    .-narrow,
    .-very-narrow,
    .-extra-narrow {
      border-right: 1px dashed rgba(#000, 0.2);
      border-left: 1px dashed rgba(#000, 0.2);
      margin-left: auto;
      margin-right: auto;

      &:not(.has-background) {
        padding-right: 4px;
        padding-left: 4px;
      }
    }

    .-narrow-left,
    .-very-narrow-left,
    .-extra-narrow-left {
      border-right: 1px dashed rgba(#000, 0.2);
      margin-right: auto !important;
      margin-left: calc((100vw - $editor-content-width-outer) / 2) !important;

      &:not(.has-background) {
        padding-right: 4px;
      }

      @media (max-width: $editor-content-width-outer) {
        margin-left: 0 !important;
      }
    }

    .-narrow-right,
    .-very-narrow-right,
    .-extra-narrow-right {
      border-left: 1px dashed rgba(#000, 0.2);
      margin-left: auto !important;
      margin-right: calc((100vw - $editor-content-width-outer) / 2) !important;

      &:not(.has-background) {
        padding-left: 4px;
      }

      @media (max-width: $editor-content-width-outer) {
        margin-right: 0 !important;
      }
    }
  }

  // Columns

  .wp-block-column.-center-content {
    > .wp-block {
      margin-left: unset;
      margin-right: unset;
    }
  }

  // Spacer

  .wp-block-spacer {
    border: 1px dashed rgba(#000, 0.2);
    border-radius: 4px;
  }
}
