@use '../../variables' as *;
@use '../wordpress-blocks' as *;

.editor-styles-wrapper {
  @include wordpress-blocks();

  // Content widths

  .block-editor-block-list__layout.is-root-container {
    .-narrow,
    .-narrow-left,
    .-narrow-right {
      max-width: min(var(--fs-content-width-narrow), var(--fs-editor-content-width)) !important;
    }

    .-very-narrow,
    .-very-narrow-left,
    .-very-narrow-right {
      max-width: min(var(--fs-content-width-very-narrow), var(--fs-editor-content-width)) !important;
    }

    .-extra-narrow,
    .-extra-narrow-left,
    .-extra-narrow-right {
      max-width: min(var(--fs-content-width-extra-narrow), var(--fs-editor-content-width)) !important;
    }

    .-narrow,
    .-very-narrow,
    .-extra-narrow {
      border-right: 1px dashed rgba(#000, 0.2);
      border-left: 1px dashed rgba(#000, 0.2);
      margin-left: auto;
      margin-right: auto;

      &:not(.has-background) {
        padding-right: 4px;
        padding-left: 4px;
      }
    }

    .-narrow-left,
    .-very-narrow-left,
    .-extra-narrow-left {
      border-right: 1px dashed rgba(#000, 0.2);
      margin-right: auto !important;
      margin-left: calc((100vw - var(--fs-editor-content-width-outer)) / 2) !important;

      &:not(.has-background) {
        padding-right: 4px;
      }

      @media (max-width: $editor-content-width-outer) {
        margin-left: 0 !important;
      }
    }

    .-narrow-right,
    .-very-narrow-right,
    .-extra-narrow-right {
      border-left: 1px dashed rgba(#000, 0.2);
      margin-left: auto !important;
      margin-right: calc((100vw - var(--fs-editor-content-width-outer)) / 2) !important;

      &:not(.has-background) {
        padding-left: 4px;
      }

      @media (max-width: $editor-content-width-outer) {
        margin-right: 0 !important;
      }
    }
  }

  // Columns

  .wp-block-column.-center-content {
    > .wp-block {
      margin-left: unset;
      margin-right: unset;
    }
  }
}
