@use '../wordpress-blocks' as *;

.editor-styles-wrapper {
  @include wordpress-blocks();

  // Content widths

  .-narrow,
  .-narrow-left {
    max-width: min(var(--fs-content-width-narrow), 840px);
  }

  .-very-narrow,
  .-very-narrow-left {
    max-width: min(var(--fs-content-width-very-narrow), 840px);
  }

  .-extra-narrow,
  .-extra-narrow-left {
    max-width: min(var(--fs-content-width-extra-narrow), 840px);
  }

  // Columns

  .wp-block-column.-center-content {
    > .wp-block {
      margin-left: unset;
      margin-right: unset;
    }
  }
}
