@use '../../../src/scss/config' as *;

.my-block__wrapper {
  margin: 24px 0;
  padding: 24px;
  background-color: var(--bl-color-gray-100);
  border: 1px solid var(--bl-color-gray-300);
  border-radius: var(--bl-border-radius-m);
}
