@use '../../../src/scss/config' as *;
@use '../../../src/scss/mixins' as *;

.editor-styles-wrapper {
  .wp-block-acf-accordion {
    margin-top: 24px;
    margin-bottom: 24px;

    + .wp-block-acf-accordion {
      margin-top: -8px;
    }
  }
}

.editor-styles-wrapper .accordion__wrapper.accordion-open,
.editor-styles-wrapper .wp-block-acf-accordion.is-selected,
.editor-styles-wrapper .wp-block-acf-accordion.has-child-selected {
  .accordion__content {
    display: block !important;
  }
}
