@use 'sass:color';

// Paths
$child-theme-path: '{{child_theme_path}}';

// Colors
$color-primary: #4080ff;
$color-primary-dark: #{color.adjust($color-primary, $lightness: -8%)};
$color-secondary: #00aaff;
$color-secondary-dark: #{color.adjust($color-secondary, $lightness: -8%)};

// Variables
:root {
  --fs-color-primary: #{$color-primary};
  --fs-color-primary-dark: #{$color-primary-dark};
  --fs-color-secondary: #{$color-secondary};
  --fs-color-secondary-dark: #{$color-secondary-dark};
}
