@use '../variables' as *;

@mixin wordpress-blocks {
  // Groups

  .wp-block-group {
    position: relative;

    &.has-background {
      padding-top: 40px;
      padding-bottom: 40px;

      @media (max-width: $breakpoint-m) {
        padding-top: 28px;
        padding-bottom: 28px;
      }

      @media (max-width: $breakpoint-xs) {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &:not(.alignfull) {
        border-radius: var(--fs-border-radius);

        @media (max-width: $breakpoint-xs) {
          border-radius: var(--fs-border-radius);
        }
      }

      &:not(.alignfull):not(.alignwide) {
        padding-left: 48px;
        padding-right: 48px;

        @media (max-width: $breakpoint-m) {
          padding-left: 32px;
          padding-right: 32px;
        }

        @media (max-width: $breakpoint-s) {
          padding-left: 24px;
          padding-right: 24px;
          padding-top: 16px;
          padding-bottom: 16px;
        }

        @media (max-width: $breakpoint-xs) {
          padding-left: 16px;
          padding-right: 16px;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
  }

  // Columns

  .wp-block-columns {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    gap: 48px;

    @media (max-width: $breakpoint-l) {
      gap: 32px;
    }

    @media (max-width: $breakpoint-s) {
      gap: 24px;
    }

    &.-column-gap-xs {
      gap: 16px;
    }

    &.-column-gap-s {
      gap: 32px;

      @media (max-width: $breakpoint-s) {
        gap: 24px;
      }
    }

    &.-column-gap-l {
      gap: 48px 64px;

      @media (max-width: $breakpoint-l) {
        gap: 48px;
      }

      @media (max-width: $breakpoint-m) {
        gap: 32px;
      }

      @media (max-width: $breakpoint-s) {
        gap: 24px;
      }
    }

    &.-column-gap-xl {
      gap: 48px 96px;

      @media (max-width: $breakpoint-l) {
        gap: 48px 64px;
      }

      @media (max-width: $breakpoint-m) {
        gap: 32px 48px;
      }

      @media (max-width: $breakpoint-s) {
        gap: 24px 32px;
      }
    }

    // Columns: Designs

    &.-image-left-text-right {
      .wp-block-column:first-child {
        align-self: flex-start;
      }

      .wp-block-column:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &.-image-right-text-left {
      .wp-block-column:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .wp-block-column:last-child {
        align-self: flex-start;
      }
    }

    // Columns: Reverse on mobile

    &.-reverse-order-on-mobile {
      @media (max-width: 782px) {
        flex-direction: column-reverse;
      }
    }
  }

  // Column

  .wp-block-column {
    &.has-background {
      border-radius: var(--fs-border-radius);
      padding: 28px 32px;

      @media (max-width: $breakpoint-s) {
        padding: 20px 24px;
      }

      @media (max-width: $breakpoint-xs) {
        padding: 12px 16px;
      }
    }
  }

  // Images

  figure {
    padding: 0;

    &.wp-block-image {
      margin-top: 24px;
      margin-bottom: 24px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: $breakpoint-s) {
        margin-top: 16px;
        margin-bottom: 16px;

        &:first-child {
          margin-top: 0;
        }
      }

      img {
        border-radius: var(--fs-border-radius);
      }

      &.is-style-framed {
        img {
          border-radius: var(--fs-border-radius);
          border: 1px solid rgba(0, 0, 0, 0.15);

          @media (min-resolution: 1.9dppx) {
            border-width: 1.5px
          }
        }
      }

      &.is-style-round {
        img {
          border-radius: 50%;
        }
      }

      &.is-style-sharp {
        img {
          border-radius: 0;
        }
      }
    }
  }

  // Content widths

  .-narrow,
  .-narrow-left {
    max-width: var(--fs-content-narrow-width);
  }

  .-very-narrow,
  .-very-narrow-left {
    max-width: var(--fs-content-very-narrow-width);
  }

  .-narrow,
  .-very-narrow {
    margin-left: auto;
    margin-right: auto;
  }

  // Margins

  *.-content-margin-xs {
    margin-top: var(--fs-content-margin-xs);
    margin-bottom: var(--fs-content-margin-xs);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  *.-content-margin-s {
    margin-top: var(--fs-content-margin-s);
    margin-bottom: var(--fs-content-margin-s);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-xs) {
      margin-top: var(--fs-content-margin-xs);
      margin-bottom: var(--fs-content-margin-xs);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  *.-content-margin-m {
    margin-top: var(--fs-content-margin-m);
    margin-bottom: var(--fs-content-margin-m);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-s) {
      margin-top: var(--fs-content-margin-s);
      margin-bottom: var(--fs-content-margin-s);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $breakpoint-xs) {
      margin-top: var(--fs-content-margin-xs);
      margin-bottom: var(--fs-content-margin-xs);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  *.-content-margin-l {
    margin-top: var(--fs-content-margin-l);
    margin-bottom: var(--fs-content-margin-l);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-m) {
      margin-top: var(--fs-content-margin-m);
      margin-bottom: var(--fs-content-margin-m);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $breakpoint-s) {
      margin-top: var(--fs-content-margin-s);
      margin-bottom: var(--fs-content-margin-s);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  *.-content-margin-xl {
    margin-top: var(--fs-content-margin-xl);
    margin-bottom: var(--fs-content-margin-xl);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-l) {
      margin-top: var(--fs-content-margin-l);
      margin-bottom: var(--fs-content-margin-l);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $breakpoint-m) {
      margin-top: var(--fs-content-margin-m);
      margin-bottom: var(--fs-content-margin-m);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Text-wrap

  .text-wrap-balance {
    text-wrap: balance;
  }

  .text-wrap-pretty {
    text-wrap: pretty;
  }
}