@use '../variables' as *;

@mixin wordpress-blocks {
  // Groups

  .wp-block-group {
    position: relative;

    &.has-background {
      padding-top: 64px;
      padding-bottom: 64px;

      @media (max-width: $content-max-width + $content-padding-l + $content-padding-l) {
        padding-top: 48px;
        padding-bottom: 48px;
      }

      @media (max-width: $breakpoint-m) {
        padding-top: 32px;
        padding-bottom: 32px;
      }

      @media (max-width: $breakpoint-xs) {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      &:not(.alignfull) {
        border-radius: var(--fs-border-radius);

        @media (max-width: $breakpoint-xs) {
          border-radius: var(--fs-border-radius);
        }
      }

      &:not(.alignfull):not(.alignwide) {
        padding-left: 48px;
        padding-right: 48px;

        @media (max-width: $breakpoint-m) {
          padding-left: 32px;
          padding-right: 32px;
        }

        @media (max-width: $breakpoint-s) {
          padding-left: 24px;
          padding-right: 24px;
          padding-top: 16px;
          padding-bottom: 16px;
        }

        @media (max-width: $breakpoint-xs) {
          padding-left: 16px;
          padding-right: 16px;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }

    &.has-black-background-color,
    &.has-off-black-background-color,
    &.has-gray-600-background-color {
      color: #fff;
    }
  }

  // Columns

  .wp-block-columns {
    margin-top: 0;
    margin-bottom: 0;
    gap: 48px;

    @media (max-width: $breakpoint-l) {
      gap: 32px;
    }

    @media (max-width: $breakpoint-s) {
      gap: 24px;
    }
  }

  .wp-block-column {
    &.-has-background-color {
      background-color: var(--fs-color-gray-300);
      border-radius: var(--fs-border-radius);

      >.wp-block-group {
        padding: 64px;

        @media (max-width: $breakpoint-l) {
          padding: 48px;
        }

        @media (max-width: $breakpoint-s) {
          padding: 32px;
        }

        @media (max-width: $breakpoint-xs) {
          padding: 24px;
        }
      }
    }
  }

  // Images

  figure {
    padding: 0;

    &.wp-block-image {
      margin-top: 24px;
      margin-bottom: 24px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: $breakpoint-s) {
        margin-top: 16px;
        margin-bottom: 16px;

        &:first-child {
          margin-top: 0;
        }
      }

      img {
        border-radius: var(--fs-border-radius);
      }

      &.is-style-framed {
        img {
          border-radius: var(--fs-border-radius);
          border: 1px solid rgba(0, 0, 0, 0.15);

          @media (min-resolution: 1.9dppx) {
            border-width: 1.5px
          }
        }
      }

      &.is-style-round {
        img {
          border-radius: 50%;
        }
      }

      &.is-style-sharp {
        img {
          border-radius: 0;
        }
      }
    }
  }
}