@use '../../../src/scss/variables' as *;

.icon__wrapper {
  display: flex;
  justify-content: center;

  &.-icon-align-left {
    justify-content: flex-start;
  }

  &.-icon-align-right {
    justify-content: flex-end;
  }
}

.icon__icon {
  
}
