@use '../config' as *;
@use '../mixins' as *;

body {
  background: var(--bl-page-background-color);
  font-family: var(--bl-primary-font-family);
  font-size: var(--bl-default-font-size);
  font-weight: var(--bl-default-font-weight);
  line-height: var(--bl-default-line-height);
  color: var(--bl-default-text-color);
}

@view-transition {
  navigation: auto;
}

// Scaffold

.page__wrapper {
  min-height: calc(100vh - var(--bl-admin-bar-height));
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}

.content__wrapper {
  flex: 1;
  padding: var(--bl-content-padding-top) 0 var(--bl-content-padding-bottom);
}

.content__content {
  position: relative;
}
