@use '../variables' as *;
@use '../mixins' as *;

body {
  font-family: var(--bl-primary-font-family);
  font-size: var(--bl-default-font-size);
  line-height: var(--bl-default-line-height);
  color: var(--bl-default-text-color);
  background: #fff;
}

@view-transition {
  navigation: auto;
}

// Scaffold

.page__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: clip;

  .logged-in.admin-bar & {
    min-height: calc(100vh - 32px);

    @media (max-width: 781px) {
      min-height: calc(100vh - 46px);
    }
  }
}

.content__wrapper {
  flex: 1;
  padding: 32px 0 48px;

  @media (max-width: $breakpoint-m) {
    padding: 32px 0;
  }

  @media (max-width: $breakpoint-s) {
    padding: 24px 0;
  }
}

.content__content {
  position: relative;
}
