@use '../variables' as *;
@use '../mixins' as *;

// Read more link

.read-more-link {
  color: var(--bl-link-color);
  transition: transition('color');
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  @media print {
    display: none;
  }

  &.-icon-after::after {
    margin-inline-start: 4px;
    transition: transition('transform');
    transform: translateX(0);
  }
}

.read-more-link,
.read-more-link-trigger {
  cursor: pointer;

  .editor-styles-wrapper & {
    cursor: unset;
  }
}

.read-more-link:hover,
.read-more-link-trigger:hover .read-more-link,
.read-more-link:focus,
.read-more-link-trigger:focus .read-more-link {
  text-decoration: none;
  color: var(--bl-link-color-hover);

  &.-icon-after::after {
    transform: translateX(3px);
  }
}

// Event date

.event-date {
  margin: 0 0 24px;
  font-weight: 400;
  color: var(--bl-color-gray-600);

  @media (max-width: $breakpoint-s) {
    margin-bottom: 16px;
  }
}

// Photoswipe

.pswp__bg {
  opacity: 1;
}
