@use '../config' as *;
@use '../mixins' as *;

$content-wide-width: $content-width + ($container-wide-bleed * 2);

// Container

.container {
  position: relative;
  margin: auto;
  max-width: var(--bl-content-width);
  width: calc(100% - var(--bl-page-padding-x) - var(--bl-page-padding-x));
}

// Expand from `.container` by the wide bleed. Reset when wide + 24 + 24 no longer fits.
.container-wide {
  margin-left: calc(var(--bl-container-wide-bleed) * -1);
  margin-right: calc(var(--bl-container-wide-bleed) * -1);
  width: calc(100% + var(--bl-container-wide-bleed) + var(--bl-container-wide-bleed));

  &.has-background {
    @media (min-width: calc($content-wide-width + 24px + 24px + 1px)) {
      padding-left: var(--bl-container-wide-bleed);
      padding-right: var(--bl-container-wide-bleed);
    }
  }

  @media (max-width: calc($content-wide-width + 24px + 24px)) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    &.has-background {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.alignwide {
  margin-left: calc(var(--bl-alignwide-bleed) * -1);
  margin-right: calc(var(--bl-alignwide-bleed) * -1);

  @media (max-width: $breakpoint-xl) {
    margin-left: calc(var(--bl-page-padding-x) * -0.5);
    margin-right: calc(var(--bl-page-padding-x) * -0.5);
  }

  &.has-background {
    &.has-background {
      padding-left: var(--bl-alignwide-bleed);
      padding-right: var(--bl-alignwide-bleed);

      @media (max-width: $breakpoint-xl) {
        padding-left: calc(var(--bl-page-padding-x) * 0.5);
        padding-right: calc(var(--bl-page-padding-x) * 0.5);
      }
    }
  }
}

.alignfull {
  margin-left: calc((100vw - var(--bl-content-width)) * -0.5);
  margin-right: calc((100vw - var(--bl-content-width)) * -0.5);

  @media (max-width: calc(#{$content-width} + #{$page-padding-l} + #{$page-padding-l})) {
    margin-left: calc(var(--bl-page-padding-x) * -1);
    margin-right: calc(var(--bl-page-padding-x) * -1);
  }

  &.has-background {
    &.has-background {
      padding-left: calc((100vw - var(--bl-content-width)) * 0.5);
      padding-right: calc((100vw - var(--bl-content-width)) * 0.5);

      @media (max-width: calc(#{$content-width} + #{$page-padding-l} + #{$page-padding-l})) {
        padding-left: var(--bl-page-padding-x);
        padding-right: var(--bl-page-padding-x);
      }
    }
  }
}
