@use '../config' as *;
@use '../mixins' as *;

// Tag styles

@mixin heading-level($n) {
  font-size: var(--bl-h#{$n}-font-size);
  line-height: var(--bl-h#{$n}-line-height);
  margin-top: var(--bl-h#{$n}-margin-top);
  margin-bottom: var(--bl-h#{$n}-margin-bottom);
}

@mixin tags {
  *,
  *:before,
  *:after {
    outline-offset: 4px;
    box-sizing: border-box;
  }

  // Links

  :where(a) {
    color: var(--bl-link-color);
    text-decoration: none;

    body.-transition-init & {
      transition: transition('color', 'background-color');
    }

    &:hover {
      color: var(--bl-link-color-hover);
      text-decoration: none;
    }
  }

  // Paragraphs

  :where(p),
  :where(ul),
  :where(ol) {
    margin-top: var(--bl-text-margin-top);
    margin-bottom: var(--bl-text-margin-bottom);

    &:where(:first-child) {
      margin-top: 0;
    }

    &:where(:last-child) {
      margin-bottom: 0;
    }

    &.has-background {
      padding: 20px 24px;

      &:not(.alignfull) {
        border-radius: var(--bl-border-radius-m);
      }

      @media (max-width: $breakpoint-xs) {
        padding: 12px 16px;
      }
    }
  }

  // Headlines

  :where(h1:not(.h2, .h3, .h4, .h5, .h6), .h1) {
    @include heading-level(1);
  }

  :where(h2:not(.h1, .h3, .h4, .h5, .h6), .h2) {
    @include heading-level(2);
  }

  :where(h3:not(.h1, .h2, .h4, .h5, .h6), .h3) {
    @include heading-level(3);
  }

  :where(h4:not(.h1, .h2, .h3, .h5, .h6), .h4) {
    @include heading-level(4);
  }

  :where(h5:not(.h1, .h2, .h3, .h4, .h6), .h5) {
    @include heading-level(5);
  }

  :where(h6:not(.h1, .h2, .h3, .h4, .h5), .h6) {
    @include heading-level(6);
  }

  :where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
    font-family: var(--bl-heading-font-family);
    font-weight: var(--bl-heading-font-weight);
    color: var(--bl-heading-text-color);

    &:where(:first-child) {
      margin-top: 0;
    }

    &:where(:last-child) {
      margin-bottom: 0;
    }

    & + :where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
      margin-top: 0;
    }
  }

  // Horizontal line

  hr,
  hr.wp-block-separator {
    display: block;
    border: 0;
    height: 1px;
    border-radius: 1px;
    background: var(--bl-color-gray-400);
    width: 100% !important;
    max-width: 100% !important;

    @media (min-resolution: $high-density-dppx) {
      height: 1.5px;
    }
  }
}
