@use '../config' as *;
@use '../mixins' as *;

// Colors
$colors: (
  // Primary colors
  'primary' var(--bl-color-primary),
  'secondary' var(--bl-color-secondary),
  // Grayscale
  'white' var(--bl-color-white),
  'black' var(--bl-color-black),
  'off-black' var(--bl-color-off-black),
  'gray-100' var(--bl-color-gray-100),
  'gray-200' var(--bl-color-gray-200),
  'gray-300' var(--bl-color-gray-300),
  'gray-400' var(--bl-color-gray-400),
  'gray-500' var(--bl-color-gray-500),
  'gray-600' var(--bl-color-gray-600),
  'gray-700' var(--bl-color-gray-700),
  'gray-800' var(--bl-color-gray-800),
  'gray-900' var(--bl-color-gray-900),
  // Status colors
  'neutral' var(--bl-color-neutral),
  'info' var(--bl-color-info),
  'error' var(--bl-color-error),
  'warning' var(--bl-color-warning),
  'success' var(--bl-color-success),
  'highlight' var(--bl-color-highlight)
);

// Gradients
$gradients: (
  'primary': var(--bl-gradient-primary),
);

// Font sizes
$fontSizes: (
  's' var(--bl-font-size-s) var(--bl-line-height-s),
  'm' var(--bl-font-size-m) var(--bl-line-height-m),
  'l' var(--bl-font-size-l) var(--bl-line-height-l),
  'xl' var(--bl-font-size-xl) var(--bl-line-height-xl)
);

@mixin wordpress {
  // Admin bar

  body:not(.wp-admin) #wpadminbar {
    top: 0 !important;
    position: fixed !important;

    * {
      -webkit-font-smoothing: antialiased;
    }
  }

  // Wordpress colors

  @each $name, $color in $colors {
    .has-#{$name}-color {
      color: $color;
    }

    .has-#{$name}-background-color {
      background-color: $color;
    }
  }

  .has-black-background-color,
  .has-off-black-background-color,
  .has-gray-600-background-color,
  .has-gray-700-background-color,
  .has-gray-800-background-color,
  .has-gray-900-background-color {
    color: #fff;
  }

  // Wordpress gradients

  @each $name, $gradient in $gradients {
    .has-#{$name}-gradient-background {
      background-image: $gradient;
    }
  }

  // Wordpress font sizes

  @each $name, $size, $line-height in $fontSizes {
    .has-#{$name}-font-size {
      font-size: $size !important;
      line-height: $line-height;
    }
  }
}
